extends layout

block content
  h1= title

  input#input(type='text')
  button#button send
  ul#ul

  script#tmpl-body(type='text/template')
    li
      span <%- user %>: <%- text %>
      span.date(data-date!='<%- date %>') (<%- moment(date).fromNow() %>)

